* {
    text-decoration: none;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}


:root {
    --white: #fff;
    --primary: #008aff;
    --info: #50b5ff;
    --success: #5cc9a7;
    --warning: #ffbe3d;
    --dark: #2a2442;
    --secondary: #e9ecf2;
    --gray: #c2c3c5;
    --danger: #fc5185;
}

/* ============== buttons ============== */
.btn {
    padding: 12px 28px;
    box-shadow: none;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    opacity: .75;
    filter: brightness(.85);
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
}

.btn-danger {
    background-color: var(--danger);
    border-color: var(--danger);
    color: var(--white);
}

.btn-info {
    background-color: var(--info);
    border-color: var(--info);
    color: var(--white);
}

.btn-success {
    background-color: var(--success);
    border-color: var(--success);
    color: var(--white);
}

.btn-secondary {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--dark);
}

.btn-warning {
    background-color: var(--warning);
    border-color: var(--warning);
    color: var(--white);
}

.btn-dark {
    background-color: var(--dark);
    border-color: var(--dark);
    color: var(--white);
}

/* ============== buttons ============== */